@import '_variables.styl'

/**
  * Basic form styling
*/
.form
  &__group
    display   inline-block
    margin    0 auto
    padding   10px
    min-width 300px

    label
      text-align    left
      margin-bottom 14px
      font-size     12px
      display       block
      position      relative

      span
        border-bottom 4px solid $yellow


    input
    textarea
      width 100%
